*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway';font-size: 16px;
}

.header{
    background-color: #000;
    height: auto;
}

  .topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #929292;
    text-align: center;
    padding: 27px 16px;
    text-decoration: none;
    font-size: 13px;
    transition: color 0.7s;
  }
  
  .topnav a:hover {
    color: rgb(53, 53, 53);
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  .navlink{
      padding-right: 24%;
  }

  .logo{
    float: left;
    padding-left: 24%;
}

.logo:hover{
  cursor: pointer;
}

  
  @media screen and (max-width: 1290px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav img:not(:first-child) {display: none;}
    .topnav img.icon {
      float: right;
      display: block;
    }

    .logo{
        padding-left: 0;
    }

    .navlink{
        padding-right: 0;
    }

  }
  
  @media screen and (max-width: 1290px) {
    .topnav.responsive {position: fixed;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a{
      float: none;
      display: block;
      text-align: left;
    }
    
    .topnav.responsive img{
        float: none;
      display: block;
      text-align: left;
    }

    .logo{
        padding-left: 0;
    }

    .navlink{
        padding-right: 0;
    }
  }




  @media screen and (max-width: 1630px) {
    .logo{
        padding-left: 16%;
    }

    .navlink{
        padding-right: 16%;
    }

  }

  @media screen and (max-width: 1400px) {
    .logo{
        padding-left: 0;
    }

    .navlink{
        padding-right: 0;
    }

  }



.topnav a{
    font-weight: lighter;
}

.parallax {
    background-image:linear-gradient(
      #09305457,
      #09305457
    ), url('https://static.wixstatic.com/media/5bfb6f_a463284fd84145f292a32dc0f0e0cc31.jpg/v1/fill/w_1519,h_801,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/5bfb6f_a463284fd84145f292a32dc0f0e0cc31.jpg%22');
    height: 1000px; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }



  .goy{
      height: 1000px;
      background-color: #093054a9;
      width: 45%;
  }

  .yazilar{
    position: relative;
    display: block;
    padding-top: 350px;
    font-size: 35px;
    color: #fff;
    padding-left: 350px;
    text-align: left;
    width: auto;
    max-width: 350px;
    float: right;
    justify-content: center;
    padding-right: 50px;
  }

  .yazilar > p{
    margin-top: 15px;
  }

  .boldnan{
      font-weight: bolder;
  }

  .boldsuz{
      font-weight: lighter;
  }

  .parag{
      font-size: 18px;
      font-weight: 500;
  }

  @media only screen and (max-width: 800px) {
    .goy{
      width: 90%;
    }
  }

  .list{
    height: 550px;
  }

  .mint{
    width: 45%;
    background-color: #EAF4F6;
    height: 550px;
  }

  .lis{
    width: 55%;
    background-color: red;
    height: 550px;
  }
 
  
  .col-main {
    flex: 0.45;  
  }  
  
  .col-complementary {
    flex: 0.55;  
  }
  
  @media only screen and (min-width: 1100px) {
    .layout {
      display: flex;
    }
  }
  
  
  .container {
    max-width: 100%;
  }
  
  .col {
    height: 550px;
    background:#EAF4F6;
  }

  .col1 {
    height: 550px;
    background: #fff;
  }
  
  .pra{
    font-weight: bolder;
  }

  .are{
    font-weight: 500;
  }

  .praare{
    font-size: 42px;
    padding-top: 100px;
    text-align: left;
    padding-left: 60%;
    color: #00305B;
  }

  @media only screen and (max-width: 1400px) {
    .praare{
      padding-left: 10%;
    }
  }

  .container {
    list-style:none;
    margin: 0;
    padding: 0;
  }
  .item {
    width: 280px;
  }

  .flex {
    padding-left: 20px;
    padding-right: 350px;
    list-style: none;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    max-height: 550px;
  }

  .ite{
    margin-top: 100px;
  }

  .list-item::before{
    content: "■ ";
    color: #41B7C4;
  }

  .list-item{
    font-weight: 500;
    color: #236096;
  }

  .pa{
    color: #0066cc;
  }

  @media only screen and (max-width: 1700px) {
    .flex{
      padding-right: 0;
    }
    .list{
      height: 550px;
    }
  }

  @media only screen and (max-width: 1100px) {
    .flex{
      padding-right: 0;
    }
    .list{
      height: 1100px;
    }
  }

  @media only screen and (max-width: 1000px) {
    .flex{
      padding-right: 0;
    }
    .list{
      height: 1000px;
    }
  }

  @media only screen and (max-width: 900px) {
    .flex{
      padding-right: 0;
    }
    .list{
      height: 1200px;
    }
  }

  @media only screen and (max-width: 600px) {
    .flex{
      padding-right: 0;
    }
    .list{
      height: 1550px;
    }
  }

  .goyyer{
    background-color: #00305B;
    height: auto;
    padding-bottom: 100px;
  }

  .text{
    text-align: center;
    color : #fff;
  }

  .our{
    font-size: 40px;
    font-weight: bolder;
    padding-top: 100px;
  }

  .txt{
    font-size: 16px;
    font-weight: 680;
    padding-top: 20px;
    margin: 0 25%;
  }

  .tex{
    padding-top: 80px;
  }

 .nparallax{
    background-image:linear-gradient(
      #37383856,
      #37383856
    ), url('https://static.wixstatic.com/media/5bfb6f_bb013bf1966340ceb9a576d68aa42273.jpg/v1/fill/w_1375,h_801,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/5bfb6f_bb013bf1966340ceb9a576d68aa42273.jpg');
    height: 600px; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .att{
    background-color: #EAF4F6;
    height: auto;
    padding-bottom: 50px;
  }

  .column {
    float: left;
    width: 33.3%;
    box-sizing: border-box;
    height: 400px;
  }
  

  .row {
    padding-top: 100px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 1200px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .sign{
    text-align: center;
    font-size: 40px;
    font-weight: normal;
  }

  .ouratt{
    padding:70px 23% 0 23% ;
  }

  .card{
    width: 200px;
    text-align: center;
    margin: auto;
  }

  .name{
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
  }

  .vezife{
    margin-top: 10px;
    font-size: 16px;
    font-weight: lighter;
  }

  .hor{
    border-bottom: 1px solid #A7CCEC; 
  }

  .tel{
    font-size: 16px;
    color: #001e38;
    font-weight: lighter;
  }

  .mail{
    font-size: 16px;
    color: #001e38;
    font-weight: lighter;

  }


  .column1 {
    float: left;
    width: 45%;
    padding: 10px;
    box-sizing: border-box;
  }

  .column2 {
    float: left;
    width: 55%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 850px) {
    .column1 {
      width: 100%;
    }
    .column2 {
      width: 100%;
    }
  }

  .reg{
    background-image:linear-gradient(
      #004586c7,
      #004586c7
    ), url('https://static.wixstatic.com/media/5bfb6f_c9a631e8e43443cb9d7ad97133d9d83d.jpg/v1/fill/w_1425,h_809,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/5bfb6f_c9a631e8e43443cb9d7ad97133d9d83d.jpg');
    height: 750px; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .column1{
    background-color: #00335fa2;
    height: 700px;
  }


  .cont{
    font-size: 45px;
    font-weight: 500;
    color: #fff;
  }

  .yaz{
    width: 200px;
    padding: 100px 100px 0 0;
    float: right;
  }

  @media screen and (max-width: 850px) {
    .yaz{
      width: 200px;
      padding: 100px 100px 0 0;
      float: none;
      margin: auto;
    }

  }

  
  .or{
    font-weight: bolder;
    display: inline;
  }

  .addr{
    font-weight: 400;
    display: inline;
  }

  .add{
    color: #fff;
    font-size: 20px;
  }

  .itel{
    padding: 110px 0 0 20px ;
  }

 .email{
   font-weight: bold;
 }

 .telefon{
   font-weight: bold;
 }

 .ter{
   font-weight: 400;
 }

.ml{
  font-weight: 400;
} 

.nomre{
  font-weight: 400;
}

.itel p{
  display: inline;
  color: #fff;
  line-height: 1.3;
  font-size: 18px;
}

.find{
  color: #fff;
  font-weight: 500;
}

.cdyazi{
  font-weight: 500;
}

.cedvel input{
  height: 27px;
  width: 300px;
  border: 3px solid white;
  transition: border 0.5s;
  outline: none;
}

.cedvel input:hover{
  border: rgb(123, 255, 0) solid 3px;
}

.cedvel input:focus{
  border: rgb(123, 255, 0) solid 3px;
}

.cedvel label{
  color: #fff;
  font-weight: 600;
}

.cedvel th{
  text-align: left;
}


.ms{
  padding: 90px 0;
}

.cedvel{
  border-spacing: 20px 10px;
}

.cedvel button{
  background-color: #00335fa2;
  border: 1px solid #fff;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s;
}

.cedvel button:hover{
  cursor: pointer;
  background-color: #001e38;
}

@media screen and (max-width: 1300px) {
  .cedvel input{
    height: 25px;
    width: 220px;
  }
  .ms{
    padding: 90px 0;
  }
  .cedvel{
    border-spacing: 20px 10px;
  }

  .reg{
    height: auto;
    padding: 20px 0;
  }
}


@media screen and (max-width: 1000px) {
  .cedvel input{
    height: 25px;
    width: 200px;
  }
  .ms{
    padding: 90px 0;
  }
  .cedvel{
    border-spacing: 20px 10px;
  }

  .reg{
    height: auto;
    padding: 20px 0;
  }
}


@media screen and (max-width: 850px) {
  .cedvel input{
    height: 25px;
    width: 250px;
  }
  .ms{
    padding: 90px 0;
  }
  .cedvel{
    border-spacing: 20px 10px;
  }

  .reg{
    height: auto;
    padding: 20px 0;
  }
}


@media screen and (max-width: 578px) {
  .cedvel input{
    height: 25px;
    width: 145px;
  }
  .ms{
    padding: 90px 0;
  }
  .cedvel{
    border-spacing: 20px 10px;
  }

  .reg{
    height: auto;
    padding: 20px 0;
  }
}

.up{
  height: auto;
  background-color: #00305B;
}

.top {   
  margin-right:10px; 
  text-decoration: none;
  width: 100%;
  height: auto;
  color: #fff;
  background: #00305B;
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}

html,
body {
  scroll-behavior: smooth;
}

.top img{
  transform: rotate(180deg);
  margin-bottom: 10px;
}

.yari-footer{
  height: 80px;
}

.foot{
  display: inline;
  color :#2672b9;
}

.footyazi{
  margin-left: 350px;
  font-size: 14px;
  margin-top: 30px;
  float: left;
}

.linkwix{
  color :#2672b9;
}

.links{
  float: right;
  margin-right: 550px;
  margin-top: 30px;
}


@media screen and (max-width: 1400px) {
  .footyazi{
    margin-left: 20px;
  }
  
  .links{
    margin-right: 20px;
  }
}